<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-12-23                    -->
<!--#######################################-->

<launch>
    # gazebo
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    # spawn
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
            args="-urdf -model maver_x4 -param robot_description -x 0 -y 0 -z 0" />
    <node name="joint_state_publisher" 
            pkg="joint_state_publisher" 
            type="joint_state_publisher" />
</launch>