<!--#######################################-->
<!-- Copyright (c) 2024  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2024-12-23                    -->
<!--#######################################-->

<launch>
    # arg
    <arg name="visual_flag" default="true" />
    <arg name="sim_time_flag" default="false" />
    <arg name="hardware_flag" default="false" />
    # use sim time
    <param name="use_sim_time" value="$(arg sim_time_flag)" />
    
    # visual
    <group if="$(arg visual_flag)">
        # description
        <param name="robot_description" 
               command="xacro $(find hex_toolkit_maver_x4)/urdf/maver_x4_ros1.xacro" />
        # robot state publisher
        <node name="robot_state_publisher" 
              pkg="robot_state_publisher" 
              type="robot_state_publisher" />
        
        # rviz
        <node name="rviz" pkg="rviz" type="rviz"
              args="-d $(find hex_toolkit_maver_x4)/config/ros1/display.rviz"/>
    </group>

    # sim
    <group unless="$(arg hardware_flag)">
        <node name="odom_sim" pkg="hex_toolkit_general_chasssis" type="odom_sim.py" output="screen">
            <param name="use_sim_time" value="$(arg sim_time_flag)" />
            <rosparam command="load" file="$(find hex_toolkit_maver_x4)/config/ros1/odom_sim.yaml" />
            <remap from="/cmd_vel" to="/cmd_vel" />
            <remap from="/odom" to="/odom" />
        </node>
    </group>
    
    # real
    <group if="$(arg hardware_flag)">
        <node name="hex_chassis" pkg="robot_hardware_interface" type="chassis_trans.py" output="screen">
            <rosparam command="load" file="$(find hex_toolkit_maver_x4)/config/ros1/bringup.yaml" />
            <remap from="/motor_states" to="/motor_states" />
            <remap from="/real_vel" to="/real_vel" />
            <remap from="/joint_ctrl" to="/joint_ctrl" />
            <remap from="/cmd_vel" to="/cmd_vel" />
        </node>
    </group>
</launch>